
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table class="table table-striped">
    <tr>
        <td class="col-md-2">Nama</td>
        <td class="col-md-1"></td>
        <td class="col-md-9">John Pantau</td>
    </tr>
    <tr>
        <td class="col-md-2">Alamat</td>
        <td class="col-md-1"></td>
        <td class="col-md-9">Jekardah</td>
    </tr>
</table>
